<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Hangar Show</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css" >
    
    <link rel="stylesheet" href="/css/fonts/font-awesome/css/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="../css/main.css"> -->
    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="/js/date.js" /></script>            
    <style>
    .navbar-default{
        margin-bottom: 0px;
    }
    </style>
</head>

<body>
    <% include header.ejs %>
        <div>
            <div class="body">
                <%- body %>
            </div>
        </div>
    <% include footer.ejs %>
    <link rel="stylesheet" href="/css/main.css" >
     <script src="/js/bootstrap-select.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>